<div class="card mt-3">
  <div class="card-header">
    <div class="float-left">
      <h4>Categorias</h4>
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-primary" [routerLink]="['novo']">Nova Categoria</button>
      <button type="button" class="btn btn-secondary" (click)="onRefresh()">Atualizar</button>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-hover" *ngIf="categorias$ | async as categorias; else loading">
      <thead>
        <tr>
          <th>#</th>
          <th>Categoria</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let categoria of categorias">
        <td>{{ categoria.id }}</td>
        <td>{{ categoria.descricao }}</td>
          <td>
            <span class="float-right">
              <button class="btn btn-outline-warning mb-1 btn-sm" (click)="onEdit(categoria.id)">
                Atualizar
              </button>

              <button class="btn btn-outline-danger mb-1 btn-sm" (click)="onDelete(categoria)">
                Remover
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #loading>
      <span>Carregando Categorias...</span>
    </ng-template>
  </div>
</div>
